In [1]:
import io

import orchest
import pandas as pd
import requests

In [2]:
questdb_rest_endpoint = "http://%s:9000" % orchest.get_service("questdb")['internal_hostname']

In [3]:
questdb_rest_endpoint

'http://service-questdb-53e38127-cae148f8:9000'

In [4]:
exec_endpoint = questdb_rest_endpoint + "/exec"

In [5]:
upload_r = requests.get(exec_endpoint + "?query=" + "SELECT * FROM new_table;")
data = upload_r.json()

In [6]:
pd.DataFrame(data['dataset'], columns=[column['name'] for column in data['columns']])

,Date,Consumption,Wind,Solar,WindSolar
0,2006-01-01T00:00:00.000000Z,1069.18400,None,None,None
1,2006-01-02T00:00:00.000000Z,1380.52100,None,None,None
2,2006-01-03T00:00:00.000000Z,1442.53300,None,None,None
3,2006-01-04T00:00:00.000000Z,1457.21700,None,None,None
4,2006-01-05T00:00:00.000000Z,1477.13100,None,None,None
...,...,...,...,...,...
4378,2017-12-27T00:00:00.000000Z,1263.94091,394.50699999999995,16.53,411.0369999999999
4379,2017-12-28T00:00:00.000000Z,1299.86398,506.424,14.161999999999999,520.586
4380,2017-12-29T00:00:00.000000Z,1295.08753,584.277,29.854000000000003,614.1309999999999
4381,2017-12-30T00:00:00.000000Z,1215.44897,721.2470000000001,7.4670000000000005,728.714
4382,2017-12-31T00:00:00.000000Z,1107.11488,721.1760000000002,19.979999999999997,741.156